<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honghu.service.mapper.NestlingMapper">
    <select id="selectThisYearCount" resultType="java.lang.Integer">
        select
            count(*) nestlingThisYear
        from nestling
        where year(birthday)=year(now()) and parent_id=#{parentId}
    </select>
    <select id="selectThisYearEggByParentId" resultType="com.honghu.service.entity.Nestling">
        select *
        from nestling
        where parent_id=#{id} and year(birthday)=year(now())
    </select>
    <select id="selectByYearByParentId" resultType="com.honghu.service.entity.Nestling">
        select *
        from nestling
        where parent_id=#{id} and year(birthday)=#{year}
    </select>
</mapper>
